@font-face {
  font-family: 'bahnschrift';
  src: url('/css/fonts/BAHNSCHRIFT.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'bahnschrift' !important;
  font-size: 12px;
}
